# dependencies
node_modules
.pnpm-store

# builds
dist
apps/web/dist

# env / secrets
*.env
.env
apps/api/.env

# editors/OS
.DS_Store
Thumbs.db

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.vscode/*
!.vscode/extensions.json
